table {
border-collapse: collapse;
width: 100%;
margin-bottom: 15px;
}

th, td {
border: 1px solid #ccc;
padding: 6px 8px;
text-align: center;
}

th .required{
  color: red;
  font-weight: bold;
}

#totalRow td {
font-weight: bold;
background: #f5f1f1;
text-align: right;
}

#totalRow #total {
text-align: center;
}

#output {
margin-top: 15px;
white-space: pre-wrap;
border: 1px solid #ccc;
padding: 10px;
background: #fafafa;
min-height: 150px;
}

.save-container {
  text-align: right;
  padding-right: 15px;
  size: 40px;
}

.delete-row-button,
#deleteCheckedRow {
  background: #d9534f;
}

.delete-row-button{
  padding: 5px 10px;
}


